/vendor/
/node_modules/
/.env
/.env.backup
/.env.production
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/public/hot
/public/storage
/.idea
/.vscode
*.swp
*.swo
.DS_Store
Thumbs.db
composer.phar
/vendor